{# templates/event/_event_card.html.twig #}
<div class="card shadow-sm h-100 event-card text-white position-relative {{ cardClass|default('') }}" data-bs-toggle="modal" data-bs-target="#eventModal{{ event.id }}" style="
		    background-image: url('{{ event.image ? asset('event_images/' ~ event.image) : '' }}');
		    background-size: cover;
		    background-position: center;
		    background-repeat: no-repeat;
		">

	<div class="card-body" style="background-color: rgba(8, 8, 8, 0.4);">
		<h5 class="card-title">{{ event.title }}</h5>
		<p class="card-text">
			<strong>Jeu :</strong>
			{{ event.game }}
		</p>
		<p class="card-text">
			<strong>Participants :</strong>
			{{ event.participantsCount }}
			/
			{{ event.maxPlayers }}
		</p>
		<p class="card-text">
			<strong>Début :</strong>
			{{ event.startDateTime|date('d/m/Y H:i') }}<br>
			<strong>Fin :</strong>
			{{ event.endDateTime|date('d/m/Y H:i') }}
		</p>

	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="eventModal{{ event.id }}" tabindex="-1" aria-labelledby="eventModalLabel{{ event.id }}" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content" style="background: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.7)), url('{{ asset('event_images/background.jpg') }}') no-repeat center center; background-size: cover;">
			<div class="modal-header">
				<h5 class="modal-title" id="eventModalLabel{{ event.id }}">{{ event.title }}</h5>

				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<i class="fa-star-toggle fa-star fs-4 text-warning ms-3 {{ app.user.favoriteEvents.contains(event) ? 'fa-solid' : 'fa-regular' }}" data-event-id="{{ event.id }}" title="{{ app.user.favoriteEvents.contains(event) ? 'Retirer des favoris' : 'Ajouter aux favoris' }}"></i>
				{% endif %}

				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
			</div>
			<div class="modal-body">
				<p>
					<strong>Jeu :</strong>
					{{ event.game }}</p>
				<p>{{ event.description }}</p>
				<p>
					<strong>Début :</strong>
					{{ event.startDateTime|date('d/m/Y H:i') }}</p>
				<p>
					<strong>Fin :</strong>
					{{ event.endDateTime|date('d/m/Y H:i') }}</p>
				<p>
					<strong>Participants :</strong>
					{{ event.participantsCount }}
					/
					{{ event.maxPlayers }}</p>
				<p>
					<strong>Organisateur :</strong>
					{{ event.organizer.pseudo }}</p>
			</div>
			<div class="modal-footer">
				<a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-primary">Voir plus</a>

				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
