{% extends 'base.html.twig' %}

{% block title %}
	Discussion -
	{{ event.title }}
{% endblock %}

{% block body %}
	<div class="event-container">
		<h1 class="chat-title">L'événement "<span class="event-name">{{ event.title }}</span>" est en cours !</h1>
		<div class="modal-body">
			<p>
				<strong>Jeu :</strong>
				{{ event.game }}</p>
			<p>{{ event.description }}</p>
			<p>
				<strong>Début :</strong>
				{{ event.startDateTime|date('d/m/Y H:i') }}</p>
			<p>
				<strong>Fin :</strong>
				{{ event.endDateTime|date('d/m/Y H:i') }}</p>
			<p>
				<strong>Participants :</strong>
				{{ event.participantsCount }}
				/
				{{ event.maxPlayers }}</p>
			<p>
				<strong>Organisateur :</strong>
				{{ event.organizer.pseudo }}</p>
		</div>

		<p class="chat-intro">Participe à la discussion !</p>

		<div class="message-form mb-4">
			{{ form_start(messageForm) }}
			{{ form_row(messageForm.content, { 'attr': {'placeholder': 'Écrivez votre message...'} }) }}
			<button class="btn btn-success mt-2">Envoyer</button>
			{{ form_end(messageForm) }}
		</div>

		<div class="chat-box">
			{% for message in event.messages|sort((a, b) => a.createdAt <=> b.createdAt) %}
				<div class="chat-message">
					<strong>{{ message.author.pseudo }}</strong>
					<em class="text">({{ message.createdAt|date('H:i d/m/Y') }})</em>
					:
					{{ message.content }}
				</div>

			{% else %}
				<p class="text-muted">Aucun message pour l'instant.</p>
			{% endfor %}
		</div>

		<a href="{{ path('app_event_show', { id: event.id }) }}" class="btn btn-secondary mt-3">Retour à l'événement</a>
	</div>
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/event/chat.css') }}">
	{% endblock %}
{% endblock %}
