{% extends 'base.html.twig' %}

{% block title %}Créer un événement
{% endblock %}

{% block body %}
	<div class="event-create-container">
		<h1 class="event-create-title">PROPOSER UN ÉVÉNEMENT<span>.</span>
		</h1>
		<p class="event-create-subtitle">Partage ton idée d'événement !</p>

		{% for message in app.flashes('success') %}
			<div class="alert-success">{{ message }}</div>
		{% endfor %}

		{{ form_start(form) }}

		<div class="mb-3">
			{{ form_label(form.game) }}
			{{ form_widget(form.game) }}
		</div>
		<div class="mb-3">
			{{ form_label(form.title) }}
			{{ form_widget(form.title, {'attr': {'type': 'text'}}) }}
		</div>
		<div class="mb-3">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
		</div>
		<div class="mb-3">
			{{ form_label(form.startDateTime) }}
			{{ form_widget(form.startDateTime) }}
		</div>
		<div class="mb-3">
			{{ form_label(form.endDateTime) }}
			{{ form_widget(form.endDateTime) }}
		</div>
		<div class="mb-3">
			{{ form_label(form.maxPlayers) }}
			{{ form_widget(form.maxPlayers) }}
		</div>


		<div class="button-container">
			<button type="submit" class="submit-btn">Envoyer</button>
		</div>
		{{ form_end(form) }}
	</div>
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/event/create.css') }}">
	{% endblock %}
{% endblock %}
