{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="contact-container">
		<h1 class="contact-title">FORMULAIRE DE CONTACT<span>.</span>
		</h1>
		<p class="contact-subtitle">Dis-nous tout !</p>

		{% for message in app.flashes('success') %}
			<div class="alert-success">{{ message }}</div>
		{% endfor %}

		{% if pseudo %}
			<p class="mb-4">
				<strong>{{ pseudo }}</strong>
			</p>
		{% endif %}

		{% if contactForm %}
			{{ form_start(contactForm) }}
			<div class="mb-3">
				{{ form_label(contactForm.subject) }}
				{{ form_widget(contactForm.subject, {'attr': {'type': 'text'}}) }}
			</div>
			<div class="mb-3">
				{{ form_label(contactForm.message) }}
				{{ form_widget(contactForm.message) }}
			</div>
			<div class="button-container">
				{% if app.user %}
					{{ form_widget(contactForm.send, {'attr': {'class': 'btn btn-primary mt-3'}}) }}
				{% else %}
					<a href="{{ path('app_register') }}" class="btn btn-primary mt-3">
						Se connecter pour envoyer
					</a>
				{% endif %}
			</div>
			{{ form_end(contactForm) }}
		{% else %}
			<p>Vous devez être connecté pour envoyer un message.</p>
			<a href="{{ path('app_login') }}" class="btn btn-primary mt-3">
				Se connecter
			</a>
		{% endif %}
	</div>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/contact/index.css') }}">
	{% endblock %}
{% endblock %}
